
.side{
  width: 200px;
  height: 200px;
  position: absolute;
  transform-origin: 50% 50% -100px;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  border-radius: 7px;
}

.cube{
  position: relative;
  height: 200px;
  width: 200px;
  transform-origin: 50% 50% -100px;
  transform-style: preserve-3d;
  animation: cube1 10s ease-in-out infinite;
}
@keyframes cube1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  20% {
    transform: rotateX(270deg) rotateY(270deg);
  }
  40% {
    transform: rotateX(540deg) rotateY(720deg);
  }
  60% {
    transform: rotateX(720deg) rotateY(1540deg);
  }
  80%{
    transform: rotateX(1530deg) rotateY(990deg);
  }
  100% {
    transform: rotateX(1800deg) rotateY(990deg);
  }
 }

.wrap{
  width: 200px;
  margin: 10% auto;
}
.side1{
  background: url(../img/Smile1.png);
}
.side2{
  transform: rotateY(90deg);
  background: url(../img/Smile2.png);
}
.side3{
  transform: rotateY(-90deg);
  background: url(../img/Smile3.png);
}
.side4{
  transform: rotateX(90deg);
  background: url(../img/Smile4.png);
}
.side5{
  transform: rotateX(-90deg);
  background: url(../img/Smile5.png);
}
.side6{
  transform: rotateY(180deg);
  background: url(../img/Smile6.png);
}
